{% extends "mainsite/base.html" %}

{% block content %}
<header class="header">
    <div class="overlay">
        <div class="container">
            <div class="description">
                TechCenter - сертифицированный автосервис в Ульяновске с полным спектром услуг по обслуживанию и ремонту автомобилей
            </div>
        </div>
    </div>
</header>

<!-- Описание компании -->
<div class="container mb-4">
    <section id="about" style="padding-top: 56px;">
        <h2>О компании</h2>
        <p>TechCenter - это автосервис, который объединяет в себе профессионализм, передовые технологии и выдающееся обслуживание, чтобы обеспечить владельцам автомобилей наилучший опыт в уходе за своими транспортными средствами.
            Наши ценности:
            <br><br>Профессиональное обслуживание: Мы имеем опытных и квалифицированных мастеров, способных работать с различными марками и моделями автомобилей. Мы стремимся к высшему стандарту качества во всем, что делаем.
            <br><br>Технологический подход: TechCenter постоянно инвестирует в современные технологии и оборудование, чтобы обеспечить точность и эффективность при проведении работ.
            <br><br>Индивидуальный подход: Мы понимаем, что каждый автомобиль и каждый клиент уникален. Мы предоставляем индивидуальные решения и рекомендации, чтобы удовлетворить потребности каждого клиента.
        </p>
    </section>

    <!-- Список товаров в виде карточек -->
    <section id="services" style="padding-top: 56px;">
        <h2>Услуги</h2>
        <a href="{% url 'services' %}"><h2>Посмотреть все</h2></a>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="{{ service.get_absolute_url }}">
                    <div class="card">
                        <img src="{{ service.image.url }}" class="card-img-top" alt="Товар 1" style="height: 15rem; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">{{ service.name }}</h5>
                            <p class="card-text" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">{{ service.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Дополнительная информация -->
    <section id="contacts" style="padding-top: 56px;">
        <h2>Оставьте заявку на наши услуги</h2>
        <p>Здесь вы можете добавить дополнительную информацию о вашей компании.</p>
    </section>

    <form method="post" action="{{service_request_url}}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить заявку</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <strong>Ошибки в форме:</strong>
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
</div>

{% endblock %}